@model IEnumerable<Contacts.Application.Models.ContactVWM>

@{
    ViewData["Title"] = "Index";
}

<h4>Contact Register</h4>
@*<hr />*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                CPF/CNPJ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Contact</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameExibition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentExibition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a>
                    <a  href="javascript:;" class="text-danger ml-1" onclick="confirmRemoveClick('@item.Id')"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @if (ViewBag.SucessMessage != null)
    {
        <script type="text/javascript">
           $(document).ready(function () {
             showSucess('@ViewBag.SucessMessage');
           });

     function confirmRemoveClick(id)
     {
         if (confirm('Are you sure to delete this record?')) {
             deleteRecord(id);
         }
     }

    function deleteRecord(id)
    {
        $.ajax({
            url: '@Url.Action("Delete", "Contact")',
            data: { 'id': id },
            dataType: 'json',
            type: 'POST',
            success: function (response)
            {
                if (response.isError) {
                    showError(response.message);
                }
                else {
                       var url = '@Url.Action("Index", "Contact",  new { message = "Record removed successfully!" } )';
                       window.location.href = url;
                }
            },
            error: function (response)
            {
                showError(response.Message);
            }
        });
    }
        </script>
    }
}
